* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;    
}

.wrapper {
    width: 500px;
    border: 2px solid gray;
    border-radius: 2.6em;
    margin: 0 auto;
    line-height:4rem;
}

h1 {
    background-color: gold;
    border-radius: 2em 2em 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid gray;
}

li a,
li a:visited {
    display: block;
    color: red;
    text-decoration: none;
}

li a:hover,
li a:focus {
    background-color: gray;
    color: whitesmoke;
}

li:last-child a {
    border-radius: 0 0 2em 2em;
}
